
body{
    font-weight: bolder;
}
.nav-container {
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
    justify-content: center;
    text-align: center;
    padding:20px;
    border-bottom: 2px solid gray;
}
.btn-title {
    text-align: center;
    font-size: 25px;
}
.btn-youtube-link{
    margin-top: 7px;
}
.body-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#resultat{
    width: 30%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    font-size: 25px;
    padding: 50px 45px 50px 45px;
    background-color: aqua;
}
.choice-of-operation{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
}
.choice-of-operation div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: aquamarine;
    width: 40px;
    height: 35px;
    font-size: 15px;
    
}
.choice-value{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
#selectValue{
    all: insert;
    border: 2px solid black;
    width: 20%;
    height: 30px;
    font-size: 20px;
    box-shadow: 2px 2px 2px 1px aquamarine;
    
}
#btn-reset{
    margin-top: 30px;
    padding: 10px 25px 10px 25px;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
}
#incrementation, #decrementation{
    box-sizing: 0;
    /* padding: 5px 15px 5px 15px; */
    width: 80px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    background-color: aquamarine;
}
